In [192]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [193]:
df = pd.read_csv('home_credit_default_risk_application_100000.csv')

In [195]:
#listando as colunas que serão utilizadas para correlação

selected_columns = ['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 #'NAME_TYPE_SUITE',
 #'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 #'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 #'DAYS_REGISTRATION',
 #'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 #'FLAG_MOBIL',
 #'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 #'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 #'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 #'REG_REGION_NOT_LIVE_REGION',
 #'REG_REGION_NOT_WORK_REGION',
 #'LIVE_REGION_NOT_WORK_REGION',
 #'REG_CITY_NOT_LIVE_CITY',
 #'REG_CITY_NOT_WORK_CITY',
 #'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
#  'EXT_SOURCE_1',
#  'EXT_SOURCE_2',
#  'EXT_SOURCE_3',
#  'APARTMENTS_AVG',
#  'BASEMENTAREA_AVG',
#  'YEARS_BEGINEXPLUATATION_AVG',
#  'YEARS_BUILD_AVG',
#  'COMMONAREA_AVG',
#  'ELEVATORS_AVG',
#  'ENTRANCES_AVG',
#  'FLOORSMAX_AVG',
#  'FLOORSMIN_AVG',
#  'LANDAREA_AVG',
#  'LIVINGAPARTMENTS_AVG',
#  'LIVINGAREA_AVG',
#  'NONLIVINGAPARTMENTS_AVG',
#  'NONLIVINGAREA_AVG',
#  'APARTMENTS_MODE',
#  'BASEMENTAREA_MODE',
#  'YEARS_BEGINEXPLUATATION_MODE',
#  'YEARS_BUILD_MODE',
#  'COMMONAREA_MODE',
#  'ELEVATORS_MODE',
#  'ENTRANCES_MODE',
#  'FLOORSMAX_MODE',
#  'FLOORSMIN_MODE',
#  'LANDAREA_MODE',
#  'LIVINGAPARTMENTS_MODE',
#  'LIVINGAREA_MODE',
#  'NONLIVINGAPARTMENTS_MODE',
#  'NONLIVINGAREA_MODE',
#  'APARTMENTS_MEDI',
#  'BASEMENTAREA_MEDI',
#  'YEARS_BEGINEXPLUATATION_MEDI',
#  'YEARS_BUILD_MEDI',
#  'COMMONAREA_MEDI',
#  'ELEVATORS_MEDI',
#  'ENTRANCES_MEDI',
#  'FLOORSMAX_MEDI',
#  'FLOORSMIN_MEDI',
#  'LANDAREA_MEDI',
#  'LIVINGAPARTMENTS_MEDI',
#  'LIVINGAREA_MEDI',
#  'NONLIVINGAPARTMENTS_MEDI',
#  'NONLIVINGAREA_MEDI',
#  'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 #'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
#  'OBS_30_CNT_SOCIAL_CIRCLE',
#  'DEF_30_CNT_SOCIAL_CIRCLE',
#  'OBS_60_CNT_SOCIAL_CIRCLE',
#  'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
#  'FLAG_DOCUMENT_2',
#  'FLAG_DOCUMENT_3',
#  'FLAG_DOCUMENT_4',
#  'FLAG_DOCUMENT_5',
#  'FLAG_DOCUMENT_6',
#  'FLAG_DOCUMENT_7',
#  'FLAG_DOCUMENT_8',
#  'FLAG_DOCUMENT_9',
#  'FLAG_DOCUMENT_10',
#  'FLAG_DOCUMENT_11',
#  'FLAG_DOCUMENT_12',
#  'FLAG_DOCUMENT_13',
#  'FLAG_DOCUMENT_14',
#  'FLAG_DOCUMENT_15',
#  'FLAG_DOCUMENT_16',
#  'FLAG_DOCUMENT_17',
#  'FLAG_DOCUMENT_18',
#  'FLAG_DOCUMENT_19',
#  'FLAG_DOCUMENT_20',
#  'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [196]:
df_risco_credito = df[selected_columns]

## 01) Qual é a idade, em anos, do titular mais jovem?

In [197]:
df_idade_cliente = df_risco_credito['DAYS_BIRTH']
df_idade_cliente

0        -9461
1       -16765
2       -19046
3       -19005
4       -19932
         ...
99995   -11838
99996   -13429
99997   -17626
99998   -12420
99999   -14808
Name: DAYS_BIRTH, Length: 100000, dtype: int64

In [198]:
df_risco_credito.loc[:,'DAYS_BIRTH'] = df_idade_cliente.apply(lambda x:(x/365)*-1)

In [200]:
df_idade_crescente = df_risco_credito['DAYS_BIRTH'].sort_values(ascending=True)
df_idade_crescente

53702    21.030137
73870    21.041096
48401    21.041096
19115    21.041096
65419    21.041096
           ...
20863    68.991781
49288    68.997260
65237    69.002740
79852    69.027397
63316    69.043836
Name: DAYS_BIRTH, Length: 100000, dtype: float64

In [106]:
df_idade_mais_jovem = df_idade_crescente.round().head(1).values
df_idade_mais_jovem

array([21.])

In [107]:
print(f'A idade do titular mais jovem é de {df_idade_mais_jovem[0]:.0f} anos.')

A idade do titular mais jovem é de 21 anos.

## 02) Qual a média do valor de anuidade dos residentes em apartamentos maiores de 50 anos?

In [108]:
# idade dos clientes
df_idade = df_risco_credito['DAYS_BIRTH']
df_idade

0        25.920548
1        45.931507
2        52.180822
3        52.068493
4        54.608219
           ...
99995    32.432877
99996    36.791781
99997    48.290411
99998    34.027397
99999    40.569863
Name: DAYS_BIRTH, Length: 100000, dtype: float64

In [109]:
# clientas maiores de 50 anos
df_cliente_maior_50 = df_idade[df_idade > 50]
df_cliente_maior_50

2        52.180822
3        52.068493
4        54.608219
7        51.643836
8        55.065753
           ...
99981    64.630137
99982    63.367123
99983    56.339726
99985    51.389041
99986    52.750685
Name: DAYS_BIRTH, Length: 33664, dtype: float64

In [110]:
# tipos de moradias
df_tipos_moradias = df_risco_credito['HOUSETYPE_MODE']
df_tipos_moradias

0        block of flats
1        block of flats
2                   NaN
3                   NaN
4                   NaN
              ...
99995               NaN
99996    block of flats
99997    block of flats
99998    block of flats
99999               NaN
Name: HOUSETYPE_MODE, Length: 100000, dtype: object

In [111]:
# montante anuidade geral
df_montante_anuidade_geral = df_risco_credito['AMT_ANNUITY']
df_montante_anuidade_geral

0        24700.5
1        35698.5
2         6750.0
3        29686.5
4        21865.5
          ...
99995    36459.0
99996    22599.0
99997    37044.0
99998     6579.0
99999    16875.0
Name: AMT_ANNUITY, Length: 100000, dtype: float64

In [112]:
# clientes residentes em apartamento
df_media_anuidade_residente_maior_50 = df_risco_credito.groupby((df_risco_credito['HOUSETYPE_MODE'] == 'block of flats') & (df_risco_credito['DAYS_BIRTH'] > 50))['AMT_ANNUITY'].mean()
df_media_anuidade_residente_maior_50

False    27041.659441
True     27300.605177
Name: AMT_ANNUITY, dtype: float64

In [201]:
print(f"A média do valor de anuidade dos residentes em apartamentos maiores de 50 anos é de R$ {df_media_anuidade_residente_maior_50[True]:.2f}")

A média do valor de anuidade dos residentes em apartamentos maiores de 50 anos é de R$ 27300.61

## 03) Existe uma correlação forte entre ter imóvel próprio e ter carro próprio? Por que?

In [114]:
# Mudando os valores da coluna para 1 onde for Y e 0 onde for N
df_risco_credito['FLAG_OWN_REALTY'] = df_risco_credito['FLAG_OWN_REALTY'].apply(lambda x:1 if x=="Y" else 0)
df_risco_credito['FLAG_OWN_REALTY'].astype(int)

0        1
1        0
2        1
3        1
4        1
        ..
99995    1
99996    1
99997    1
99998    0
99999    1
Name: FLAG_OWN_REALTY, Length: 100000, dtype: int32

In [115]:
# Mudando os valores da coluna para 1 onde for Y e 0 onde for N
df_risco_credito['FLAG_OWN_CAR'] = df_risco_credito['FLAG_OWN_CAR'].apply(lambda x:1 if x=="Y" else 0)
df_risco_credito['FLAG_OWN_CAR'].astype(int)

0        0
1        0
2        1
3        0
4        0
        ..
99995    0
99996    0
99997    1
99998    1
99999    1
Name: FLAG_OWN_CAR, Length: 100000, dtype: int32

In [116]:
# Verificando se há correlação entre ter imóvel próprio e carro próprio
df_risco_credito[['FLAG_OWN_REALTY','FLAG_OWN_CAR']].corr()

                 FLAG_OWN_REALTY  FLAG_OWN_CAR
FLAG_OWN_REALTY          1.00000       0.00247
FLAG_OWN_CAR             0.00247       1.00000

## Resposta:
### <font color= 'blue'>Pelo valor obtido, demonstra ser uma <font color='red'>correlação fraca</font>. <font color='blue'>Dessa forma, não há como determinar precisamente a eficácia entre ter imóvel próprio e ter carro próprio.</font>

## 04) Quais os 3 principais tipos de ocupação de quem mora com parentes?

In [117]:
df_risco_credito['NAME_HOUSING_TYPE']

0        House / apartment
1        House / apartment
2        House / apartment
3        House / apartment
4        House / apartment
               ...
99995    House / apartment
99996    House / apartment
99997    House / apartment
99998         With parents
99999    House / apartment
Name: NAME_HOUSING_TYPE, Length: 100000, dtype: object

In [118]:
df_risco_credito['OCCUPATION_TYPE']

0           Laborers
1         Core staff
2           Laborers
3           Laborers
4         Core staff
            ...
99995    Sales staff
99996       Managers
99997    Sales staff
99998    Sales staff
99999        Drivers
Name: OCCUPATION_TYPE, Length: 100000, dtype: object

In [119]:
df_risco_credito.groupby(['NAME_HOUSING_TYPE','OCCUPATION_TYPE']).size()

NAME_HOUSING_TYPE  OCCUPATION_TYPE
Co-op apartment    Accountants              17
                   Cleaning staff            2
                   Cooking staff            11
                   Core staff               32
                   Drivers                  32
                                          ...
With parents       Realty agents            19
                   Sales staff             715
                   Secretaries              30
                   Security staff          104
                   Waiters/barmen staff     44
Length: 106, dtype: int64

In [120]:
df_risco_credito[df_risco_credito.NAME_HOUSING_TYPE =='With parents'].groupby('OCCUPATION_TYPE').size().sort_values(ascending=False).head(3)

OCCUPATION_TYPE
Laborers       1100
Sales staff     715
Core staff      576
dtype: int64

In [121]:
df_ocupacao_vivem_pais = df_risco_credito[df_risco_credito.NAME_HOUSING_TYPE =='With parents'].groupby('OCCUPATION_TYPE').size().sort_values(ascending=False).head(3)

In [122]:
print(f'Os 3 principais tipos de ocupação de quem mora com os pais são : {df_ocupacao_vivem_pais.keys()[0]}, {df_ocupacao_vivem_pais.keys()[1]} e {df_ocupacao_vivem_pais.keys()[2]}')

Os 3 principais tipos de ocupação de quem mora com os pais são : Laborers, Sales staff e Core staff

## 05) Qual é a diferença entre a média de valor de crédito e a média de valor de anuidade quando filtramos pelos trabalhadores do tipo de organização Military?

In [123]:
df_risco_credito['ORGANIZATION_TYPE'].unique()

array(['Business Entity Type 3', 'School', 'Government', 'Religion',
       'Other', 'XNA', 'Electricity', 'Medicine',
       'Business Entity Type 2', 'Self-employed', 'Transport: type 2',
       'Construction', 'Housing', 'Kindergarten', 'Trade: type 7',
       'Industry: type 11', 'Military', 'Services', 'Security Ministries',
       'Transport: type 4', 'Industry: type 1', 'Emergency', 'Security',
       'Trade: type 2', 'University', 'Transport: type 3', 'Police',
       'Business Entity Type 1', 'Postal', 'Industry: type 4',
       'Agriculture', 'Restaurant', 'Culture', 'Hotel',
       'Industry: type 7', 'Trade: type 3', 'Industry: type 3', 'Bank',
       'Industry: type 9', 'Insurance', 'Trade: type 6',
       'Industry: type 2', 'Transport: type 1', 'Industry: type 12',
       'Mobile', 'Trade: type 1', 'Industry: type 5', 'Industry: type 10',
       'Legal Services', 'Advertising', 'Trade: type 5', 'Cleaning',
       'Industry: type 13', 'Trade: type 4', 'Telecom',
       'Industry: type 8', 'Realtor', 'Industry: type 6'], dtype=object)

In [124]:
df_risco_credito['AMT_CREDIT']

0         406597.5
1        1293502.5
2         135000.0
3         312682.5
4         513000.0
           ...
99995     755190.0
99996     284400.0
99997    1262583.0
99998     225000.0
99999     337500.0
Name: AMT_CREDIT, Length: 100000, dtype: float64

In [125]:
df_risco_credito['AMT_ANNUITY']

0        24700.5
1        35698.5
2         6750.0
3        29686.5
4        21865.5
          ...
99995    36459.0
99996    22599.0
99997    37044.0
99998     6579.0
99999    16875.0
Name: AMT_ANNUITY, Length: 100000, dtype: float64

In [126]:
df_military_credit = df[df['ORGANIZATION_TYPE'] == 'Military']

In [127]:
med_militar_credit = df_military_credit['AMT_CREDIT'].mean()

In [128]:
df_military_annuity = df[df['ORGANIZATION_TYPE'] == 'Military']

In [129]:
med_militar_annuity = df_military_annuity['AMT_ANNUITY'].mean()

In [130]:
df_diferenca_medias = med_militar_credit - med_militar_annuity
df_diferenca_medias

652390.9782110092

In [131]:
print(f'A diferença da média do crédito e anuidade dos trabalhadores da organização Military é de R$ {df_diferenca_medias:.2f}')

A diferença da média do crédito e anuidade dos trabalhadores da organização Military é de R$ 652390.98

## 06) Considerando os tipos de ocupação, podemos dizer que os "Managers" possuem um valor de anuidade mais alto? Se não, qual é?

In [132]:
df_anuidade_max = df_risco_credito.groupby('OCCUPATION_TYPE')['AMT_ANNUITY'].mean()

In [133]:
df_anuidade_max.sort_values(ascending=False)

OCCUPATION_TYPE
Managers                 34799.830176
Accountants              30806.959945
Realty agents            29913.154959
Drivers                  29197.257266
Private service staff    29172.743917
High skill tech staff    28897.648397
HR staff                 27873.372928
IT staff                 27794.183432
Core staff               27658.757066
Laborers                 26427.825563
Secretaries              26414.544578
Sales staff              26066.787634
Medicine staff           25715.704737
Security staff           25575.830759
Cooking staff            24862.069124
Waiters/barmen staff     24627.058352
Low-skill Laborers       23490.944681
Cleaning staff           23059.750000
Name: AMT_ANNUITY, dtype: float64

### RESPOSTA:
### <font color='blue'>Considerando os tipos de ocupação, podemos dizer que</font><font color='green'> SIM</font><font color='blue'>, os <font color='black'>managers</font> possuem um valor de anuidade mais alto, tendo em vista o resultado da média aplicada aos demais profissionais. </font>

## 07) Qual é o horário e dia da semana que mais trabalhadores dos tipos de organização Bank & Government optam por requisitar o financiamento?

In [134]:
df_risco_credito['ORGANIZATION_TYPE'].unique()

array(['Business Entity Type 3', 'School', 'Government', 'Religion',
       'Other', 'XNA', 'Electricity', 'Medicine',
       'Business Entity Type 2', 'Self-employed', 'Transport: type 2',
       'Construction', 'Housing', 'Kindergarten', 'Trade: type 7',
       'Industry: type 11', 'Military', 'Services', 'Security Ministries',
       'Transport: type 4', 'Industry: type 1', 'Emergency', 'Security',
       'Trade: type 2', 'University', 'Transport: type 3', 'Police',
       'Business Entity Type 1', 'Postal', 'Industry: type 4',
       'Agriculture', 'Restaurant', 'Culture', 'Hotel',
       'Industry: type 7', 'Trade: type 3', 'Industry: type 3', 'Bank',
       'Industry: type 9', 'Insurance', 'Trade: type 6',
       'Industry: type 2', 'Transport: type 1', 'Industry: type 12',
       'Mobile', 'Trade: type 1', 'Industry: type 5', 'Industry: type 10',
       'Legal Services', 'Advertising', 'Trade: type 5', 'Cleaning',
       'Industry: type 13', 'Trade: type 4', 'Telecom',
       'Industry: type 8', 'Realtor', 'Industry: type 6'], dtype=object)

### BANK

In [135]:
df_bank = df_risco_credito[df_risco_credito['ORGANIZATION_TYPE'] == 'Bank']

In [136]:
df_bank.groupby(df_risco_credito['OCCUPATION_TYPE']).size()

OCCUPATION_TYPE
Accountants              161
Cleaning staff            18
Cooking staff              2
Core staff               432
Drivers                   12
High skill tech staff     12
IT staff                   6
Laborers                  15
Managers                  88
Medicine staff             1
Sales staff               22
Secretaries                3
Security staff             8
dtype: int64

#### horário:

In [137]:
bank_hora = df_bank['HOUR_APPR_PROCESS_START'].mode()

In [138]:
print(f'O horário que os trabalhadores do banco mais requisitam empréstimo é {bank_hora.values[0]}h e {bank_hora.values[1]}h')

O horário que os trabalhadores do banco mais requisitam empréstimo é 11h e 12h

#### dia da semana:

In [139]:
bank_dia_semana = df_bank['WEEKDAY_APPR_PROCESS_START'].mode()

In [140]:
print(f'O dia que os trabalhadores do banco mais requisitam empréstimo é {bank_dia_semana.values[0]}')

O dia que os trabalhadores do banco mais requisitam empréstimo é TUESDAY

### resultado compilado:

In [141]:
bank_resultado = [bank_hora,bank_dia_semana]

In [142]:
resultado_bank = pd.concat(bank_resultado).set_axis(labels=['hora 01:','hora 02:','dia:'])

In [143]:
print(f'O resultado compilado é \n{resultado_bank}')

O resultado compilado é
hora 01:         11
hora 02:         12
dia:        TUESDAY
dtype: object

### GOVERNMENT

In [144]:
df_gov = df_risco_credito[df_risco_credito['ORGANIZATION_TYPE'] == 'Government']

In [145]:
df_gov.groupby(df_risco_credito['OCCUPATION_TYPE']).size()

OCCUPATION_TYPE
Accountants              185
Cleaning staff           100
Cooking staff             41
Core staff               835
Drivers                  274
HR staff                   9
High skill tech staff    153
IT staff                  11
Laborers                 432
Low-skill Laborers        12
Managers                 327
Medicine staff            83
Private service staff      6
Sales staff               94
Secretaries               22
Security staff           105
Waiters/barmen staff       9
dtype: int64

#### horário:

In [146]:
gov_hora = df_gov['HOUR_APPR_PROCESS_START'].mode()

In [147]:
print(f'O horário que os trabalhadores do governo mais requisitam empréstimo é {gov_hora.values[0]}h')

O horário que os trabalhadores do governo mais requisitam empréstimo é 10h

#### dia da semana:

In [148]:
gov_dia_semana = df_gov['WEEKDAY_APPR_PROCESS_START'].mode()

In [149]:
print(f'O dia que os trabalhadores do governo mais requisitam empréstimo é {gov_dia_semana.values[0]}')

O dia que os trabalhadores do governo mais requisitam empréstimo é TUESDAY

### resultado compilado:

In [150]:
gov_resultado = [gov_hora,gov_dia_semana]

In [151]:
resultado_gov = pd.concat(gov_resultado).set_axis(labels=['hora 01:','dia:'])

In [152]:
print(f'O resultado compilado é \n{resultado_gov}')

O resultado compilado é
hora 01:         10
dia:        TUESDAY
dtype: object

### Realizando a junção dos grupos de trabalhadores para ter uma ideia do dia e hora que ocorre mais requisições de financiamento.

In [153]:
df_grupo_geral_organizacao = pd.concat([df_bank,df_gov])
df_grupo_geral_organizacao

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
191,100221,0,Cash loans,F,0,1,0,225000.0,684054.0,77494.5,...,block of flats,Block,No,-584.0,0.0,0.0,0.0,0.0,1.0,4.0
262,100302,0,Cash loans,F,0,1,0,180000.0,187704.0,9256.5,...,block of flats,Panel,No,-930.0,0.0,0.0,0.0,0.0,2.0,3.0
288,100333,0,Cash loans,F,0,1,0,382500.0,450000.0,30204.0,...,block of flats,"Stone, brick",No,-984.0,0.0,0.0,0.0,0.0,0.0,1.0
316,100363,0,Cash loans,F,1,1,1,360000.0,493497.0,48942.0,...,block of flats,Block,No,-563.0,1.0,0.0,0.0,0.0,0.0,1.0
457,100527,0,Revolving loans,F,0,0,0,112500.0,270000.0,13500.0,...,NaN,NaN,NaN,-187.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99835,215899,0,Cash loans,F,0,0,0,112500.0,203760.0,20281.5,...,block of flats,"Stone, brick",No,-1854.0,0.0,0.0,0.0,0.0,0.0,2.0
99864,215935,0,Cash loans,F,1,1,0,270000.0,1078200.0,28570.5,...,block of flats,"Stone, brick",No,-1098.0,0.0,0.0,0.0,1.0,1.0,3.0
99883,215957,0,Cash loans,F,0,1,1,90000.0,888840.0,37494.0,...,NaN,NaN,NaN,-1107.0,0.0,0.0,0.0,0.0,0.0,2.0
99893,215971,0,Cash loans,F,0,1,0,202500.0,1130760.0,33061.5,...,block of flats,Others,No,-831.0,0.0,0.0,0.0,0.0,0.0,1.0
99914,215996,0,Cash loans,F,1,0,1,202500.0,1575000.0,41548.5,...,block of flats,"Stone, brick",No,-1668.0,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df_grupo_hora = df_grupo_geral_organizacao['HOUR_APPR_PROCESS_START'].mode()
df_grupo_hora

0    10
1    11
Name: HOUR_APPR_PROCESS_START, dtype: int64

In [155]:
df_grupo_dia = df_grupo_geral_organizacao['WEEKDAY_APPR_PROCESS_START'].mode()
df_grupo_dia

0    TUESDAY
Name: WEEKDAY_APPR_PROCESS_START, dtype: object

In [156]:
print(f'O horário que os trabalhadores mais requisitam empréstimo é {df_grupo_hora.values[0]}h e {df_grupo_hora.values[1]}h')

O horário que os trabalhadores mais requisitam empréstimo é 10h e 11h

In [157]:
print(f'O dia que os trabalhadores mais requisitam empréstimo é {df_grupo_dia.values[0]}')

O dia que os trabalhadores mais requisitam empréstimo é TUESDAY

## 08) Qual a média de requisições de empréstimo entre trabalhadores com tipo de ocupação "Sales staff", que não moram com parentes, declararam não estarem em situação de emergência e possuem telefone de trabalho?

In [158]:
filtro = df_risco_credito[(df_risco_credito.OCCUPATION_TYPE == 'Sales staff') & (df_risco_credito.NAME_HOUSING_TYPE != 'With parents') & (df_risco_credito.EMERGENCYSTATE_MODE == 'No') & (df_risco_credito.FLAG_WORK_PHONE == 1)]

In [159]:
df_media_req_trabalhador = filtro['AMT_CREDIT'].mean()
df_media_req_trabalhador

548690.319327731

In [160]:
print(f'A média de requisições de empréstimo foi de R${df_media_req_trabalhador:.2f}')

A média de requisições de empréstimo foi de R$548690.32

## 09) Como você explica a correlação entre o número de filhos e idade (em anos)?

In [161]:
correlacao_filhos_idade = df_risco_credito[['CNT_CHILDREN','DAYS_BIRTH']].corr()

In [162]:
correlacao_filhos_idade

              CNT_CHILDREN  DAYS_BIRTH
CNT_CHILDREN      1.000000   -0.329964
DAYS_BIRTH       -0.329964    1.000000

In [163]:
print("Ainda que exista uma correlação negativa ou inversa, o valor obtido demonstra ser uma correlação do tipo fraca. Dessa forma, não há como determinar precisamente a eficácia entre quantidade de filhos e idade. Enfim, uma correlação não implica causalidade")

Ainda que exista uma correlação negativa ou inversa, o valor obtido demonstra ser uma correlação do tipo fraca. Dessa forma, não há como determinar precisamente a eficácia entre quantidade de filhos e idade. Enfim, uma correlação não implica causalidade

## 10) Podemos concluir que, quanto mais tempo empregado, maior o crédito? Por que?

In [164]:
# Verificamos primeiramento como estão registrados o tempo que os trabalhadores estão empregados
df_risco_credito['DAYS_EMPLOYED'].sort_values(ascending=False)

50000    365243
63863    365243
63819    365243
63840    365243
19440    365243
          ...
70429    -16495
65681    -16499
62757    -16538
39095    -16849
35191    -17531
Name: DAYS_EMPLOYED, Length: 100000, dtype: int64

In [165]:
# nesse caso, identificamos um outlier o qual indica um tempo de 365.243 dias = aproximadamente 1000 anos.
df_risco_credito['DAYS_EMPLOYED'].value_counts().sort_values(ascending=False)

 365243    17865
-230          56
-139          50
-212          50
-205          48
           ...
-7000          1
-16121         1
-10337         1
-8396          1
-4059          1
Name: DAYS_EMPLOYED, Length: 9871, dtype: int64

In [166]:
df_risco_credito['DAYS_EMPLOYED'].isnull().sum()

0

In [167]:
df_risco_credito['AMT_CREDIT'].isnull().sum()

0

In [168]:
# Iremos atribuir None para o outlier tendo em vista que não é um número o qual condiz com a realidade, consideraremos o campo
# como inexistente
filtro = (df_risco_credito['DAYS_EMPLOYED'] == 365243)
df_risco_credito[filtro] = np.nan # pode ser None ou np.nan
df_risco_credito['DAYS_EMPLOYED'].value_counts().sort_values(ascending=False)

-230.0      56
-139.0      50
-212.0      50
-384.0      48
-200.0      48
            ..
-6363.0      1
-10930.0     1
-12518.0     1
-16495.0     1
-4059.0      1
Name: DAYS_EMPLOYED, Length: 9870, dtype: int64

In [169]:
df_risco_credito[['DAYS_EMPLOYED','AMT_CREDIT']]

       DAYS_EMPLOYED  AMT_CREDIT
0             -637.0    406597.5
1            -1188.0   1293502.5
2             -225.0    135000.0
3            -3039.0    312682.5
4            -3038.0    513000.0
...              ...         ...
99995         -232.0    755190.0
99996         -182.0    284400.0
99997        -4805.0   1262583.0
99998         -340.0    225000.0
99999        -3230.0    337500.0

[100000 rows x 2 columns]

In [170]:
# Faremos a filtragem removendo os valores NaN
df_dias_empregado_credito_filtrar = df_risco_credito[['DAYS_EMPLOYED','AMT_CREDIT']]
df_dias_empregado_credito_filtrar.dropna(how='all', inplace=True)
df_dias_empregado_credito_filtrar

       DAYS_EMPLOYED  AMT_CREDIT
0             -637.0    406597.5
1            -1188.0   1293502.5
2             -225.0    135000.0
3            -3039.0    312682.5
4            -3038.0    513000.0
...              ...         ...
99995         -232.0    755190.0
99996         -182.0    284400.0
99997        -4805.0   1262583.0
99998         -340.0    225000.0
99999        -3230.0    337500.0

[82135 rows x 2 columns]

In [171]:
df_dias_empregado_credito = df_dias_empregado_credito_filtrar

In [172]:
# Exibindo as colunas DAYS_EMPLOYED e AMT_CREDIT e ordenando pela DAYS_EMPLOYED em ordem crescente
df_dias_empregado_credito = df_dias_empregado_credito[['DAYS_EMPLOYED','AMT_CREDIT']].sort_values('DAYS_EMPLOYED', ascending=True)
df_dias_empregado_credito

       DAYS_EMPLOYED  AMT_CREDIT
35191       -17531.0    284400.0
39095       -16849.0     84577.5
62757       -16538.0    239850.0
65681       -16499.0    225000.0
70429       -16495.0    940320.0
...              ...         ...
24160           -4.0    540000.0
88001           -4.0    990432.0
17355           -4.0    754740.0
19381           -4.0   1051294.5
23691            0.0    983299.5

[82135 rows x 2 columns]

In [173]:
# Fazendo uma visualização da proporção entre o tempo empregado e o crédito concedido
df_dias_empregado_credito['proporcao_dias_credito'] = (df_dias_empregado_credito['DAYS_EMPLOYED']/df_dias_empregado_credito['AMT_CREDIT'])*-1
df_dias_empregado_credito

       DAYS_EMPLOYED  AMT_CREDIT  proporcao_dias_credito
35191       -17531.0    284400.0                0.061642
39095       -16849.0     84577.5                0.199214
62757       -16538.0    239850.0                0.068951
65681       -16499.0    225000.0                0.073329
70429       -16495.0    940320.0                0.017542
...              ...         ...                     ...
24160           -4.0    540000.0                0.000007
88001           -4.0    990432.0                0.000004
17355           -4.0    754740.0                0.000005
19381           -4.0   1051294.5                0.000004
23691            0.0    983299.5               -0.000000

[82135 rows x 3 columns]

In [174]:
# Fazendo uma visualização da proporção entre o tempo empregado e o crédito concedido

df_dias_empregado_credito['proporcao_dias_credito'] = (df_dias_empregado_credito['DAYS_EMPLOYED']/df_dias_empregado_credito['AMT_CREDIT'])*-1
df_dias_empregado_credito['proporcao_dias_credito'] = df_dias_empregado_credito['proporcao_dias_credito'].apply(lambda x:f'{x*100:.2f}%')
df_dias_empregado_credito

       DAYS_EMPLOYED  AMT_CREDIT proporcao_dias_credito
35191       -17531.0    284400.0                  6.16%
39095       -16849.0     84577.5                 19.92%
62757       -16538.0    239850.0                  6.90%
65681       -16499.0    225000.0                  7.33%
70429       -16495.0    940320.0                  1.75%
...              ...         ...                    ...
24160           -4.0    540000.0                  0.00%
88001           -4.0    990432.0                  0.00%
17355           -4.0    754740.0                  0.00%
19381           -4.0   1051294.5                  0.00%
23691            0.0    983299.5                 -0.00%

[82135 rows x 3 columns]

In [175]:
df_dias_empregado_credito

       DAYS_EMPLOYED  AMT_CREDIT proporcao_dias_credito
35191       -17531.0    284400.0                  6.16%
39095       -16849.0     84577.5                 19.92%
62757       -16538.0    239850.0                  6.90%
65681       -16499.0    225000.0                  7.33%
70429       -16495.0    940320.0                  1.75%
...              ...         ...                    ...
24160           -4.0    540000.0                  0.00%
88001           -4.0    990432.0                  0.00%
17355           -4.0    754740.0                  0.00%
19381           -4.0   1051294.5                  0.00%
23691            0.0    983299.5                 -0.00%

[82135 rows x 3 columns]

In [176]:
# Fazendo a correlação entre as colunas
df_risco_credito[['DAYS_EMPLOYED','AMT_CREDIT']].corr()

               DAYS_EMPLOYED  AMT_CREDIT
DAYS_EMPLOYED       1.000000   -0.092747
AMT_CREDIT         -0.092747    1.000000

### Resposta:
### <font color=red>Não</font> <font color=blue>podemos concluir que, quanto mais tempo empregado, maior o crédito. Como podemos observar a correlação entre esses dois atributos é uma <font color=red>correlação muito fraca</font><font color=blue>.</font>

## 11) Qual o desvio padrão da quantidade de filhos de quem tem 8 familiares?

In [177]:
df_risco_credito.groupby('CNT_FAM_MEMBERS')['CNT_CHILDREN'].describe()

                   count       mean       std   min    25%   50%    75%   max
CNT_FAM_MEMBERS
1.0              15851.0   0.000000  0.000000   0.0   0.00   0.0   0.00   0.0
2.0              40320.0   0.085938  0.280275   0.0   0.00   0.0   0.00   1.0
3.0              16788.0   1.040565  0.197285   1.0   1.00   1.0   1.00   2.0
4.0               7861.0   2.008650  0.092610   2.0   2.00   2.0   2.00   3.0
5.0               1136.0   3.009683  0.097968   3.0   3.00   3.0   3.00   4.0
6.0                134.0   4.007463  0.086387   4.0   4.00   4.0   4.00   5.0
7.0                 30.0   5.033333  0.182574   5.0   5.00   5.0   5.00   6.0
8.0                  8.0   6.000000  0.000000   6.0   6.00   6.0   6.00   6.0
9.0                  2.0   7.000000  0.000000   7.0   7.00   7.0   7.00   7.0
10.0                 2.0   8.500000  0.707107   8.0   8.25   8.5   8.75   9.0
13.0                 1.0  11.000000       NaN  11.0  11.00  11.0  11.00  11.0
14.0                 1.0  12.000000       NaN  12.0  12.00  12.0  12.00  12.0

In [178]:
df_familia_8 = df_risco_credito[df_risco_credito['CNT_FAM_MEMBERS'] == 8 ]

In [179]:
df_std_familia_8 = df_familia_8[['CNT_CHILDREN']]
df_std_familia_8.std()

CNT_CHILDREN    0.0
dtype: float64

In [180]:
print(f'A quantidade de filhos de quem tem 8 familiares teve como desvio padrão {df_std_familia_8.std()[0]}  ')

A quantidade de filhos de quem tem 8 familiares teve como desvio padrão 0.0

## 12) Quantos registros existem em que o número de filhos é maior que o número de familiares?

In [181]:
df_filhos_familiares = df_risco_credito[['CNT_CHILDREN','CNT_FAM_MEMBERS']].count()
df_filhos_familiares

CNT_CHILDREN       82135
CNT_FAM_MEMBERS    82134
dtype: int64

In [182]:
df_criancas = df_risco_credito['CNT_CHILDREN']
df_criancas

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
99995    1.0
99996    1.0
99997    0.0
99998    0.0
99999    0.0
Name: CNT_CHILDREN, Length: 100000, dtype: float64

In [183]:
df_criancas.isna().sum()

17865

In [184]:
df_criancas.dropna(inplace=True)
df_criancas.isna().sum()

0

In [185]:
df_familiares = df_risco_credito['CNT_FAM_MEMBERS']
df_familiares

0        1.0
1        2.0
2        1.0
3        2.0
4        1.0
        ...
99995    3.0
99996    3.0
99997    2.0
99998    2.0
99999    2.0
Name: CNT_FAM_MEMBERS, Length: 100000, dtype: float64

In [186]:
df_familiares.isna().sum()

17866

In [187]:
df_familiares.dropna(inplace=True)
df_familiares.isna().sum()

0

In [188]:
df_filhos_familiares = pd.concat([df_criancas,df_familiares], axis=1)

In [189]:
df_filhos_familiares.sort_values('CNT_CHILDREN',ascending=False)

       CNT_CHILDREN  CNT_FAM_MEMBERS
80948          12.0             14.0
34545          11.0             13.0
23881           9.0             10.0
12615           8.0             10.0
26195           7.0              9.0
...             ...              ...
40713           0.0              2.0
40717           0.0              1.0
40718           0.0              1.0
40719           0.0              2.0
99999           0.0              2.0

[82135 rows x 2 columns]

In [190]:
df_resultado = pd.DataFrame()

In [203]:
df_resultado['Nº Filhos > Familiares '] = df_filhos_familiares.apply(lambda x:1 if x['CNT_CHILDREN'] > x['CNT_FAM_MEMBERS'] else 0,axis=1)
df_resultado

       Nº Filhos > Familiares
0                            0
1                            0
2                            0
3                            0
4                            0
...                        ...
99995                        0
99996                        0
99997                        0
99998                        0
99999                        0

[82135 rows x 1 columns]

In [204]:
df_resultado.value_counts().sum()

82135

### Resposta:
### <font color=blue>Podemos concluir que, temos <font color=red>ZERO</font><font color=blue> registros em que o número de filhos é maior que o número de familiares.</font>

## 13) Qual a média de dias por estado civil em que o telefone foi alterado de quem tem até 3 filhos, até 40 anos de idade e tem seu próprio imóvel?

## 14) Qual a quantidade de requisições por escolaridade x possuir o seu próprio carro x possuir sua própria casa?

## 15) Quais os 3 tipos de organização em que seus empregados mais requisitaram análise de crédito pelo Bureau no último trimestre (com exceção do tipo Other)?

## 16) Qual gênero requisitou mais análise de crédito na última semana?

In [215]:
df_req_feminino = df_risco_credito[df_risco_credito['CODE_GENDER'] == 'F']

In [221]:
df_req_feminino.groupby('CODE_GENDER')['AMT_REQ_CREDIT_BUREAU_WEEK'].count()

CODE_GENDER
F    57291
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64

In [229]:
df_risco_credito.groupby('CODE_GENDER')['AMT_REQ_CREDIT_BUREAU_WEEK'].count()

CODE_GENDER
F      57291
M      29269
XNA        3
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64

### RESPOSTA:
### <font color='blue'>De acordo com os dados analisados e considerando uma mês com quatro semanas, verificamos que o gênero o qual mais requisitou análise de crédito na última semana foi o gênero</font><font color='black'>Feminino

## 17) Existe alguma inconsistência no campo que indica o tempo de posse do carro? Ou seja, existem registros em que o requisitante informou não ter carro e informou o tempo ou vice-versa?

In [ ]:
colunas_carro = ['FLAG_OWN_CAR','OWN_CAR_AGE']

In [ ]:
df_carro_cliente = df_risco_credito[colunas_carro]
df_carro_cliente

### RESPOSTA:
### <font color='green'>SIM</font><font color='blue'>, existe inconsistência nos campos <font color='black'>tempo de posse do carro</font> e <font color='black'>proprietário de carro</font>, conforme o comparativo analisado acima.</font>

## 18) Qual a média de idade (em anos) por tipo de ocupação e escolaridade?

In [210]:
df_idade_ocupacao = df_risco_credito.groupby('OCCUPATION_TYPE')['DAYS_BIRTH']
df_idade_ocupacao.mean().sort_values(ascending=True)

OCCUPATION_TYPE
Waiters/barmen staff     35.624068
IT staff                 35.911340
Realty agents            37.843066
HR staff                 38.266162
Sales staff              38.365506
Secretaries              38.504242
Core staff               38.672435
Low-skill Laborers       38.768588
Private service staff    39.381863
Accountants              40.312699
Laborers                 40.336798
High skill tech staff    40.393148
Drivers                  41.439524
Cooking staff            41.461630
Managers                 42.090490
Medicine staff           42.648615
Security staff           45.300690
Cleaning staff           47.205055
Name: DAYS_BIRTH, dtype: float64

In [212]:
df_idade_escolaridade = df_risco_credito.groupby('NAME_EDUCATION_TYPE')['DAYS_BIRTH']
df_idade_escolaridade.mean().sort_values(ascending=True)

NAME_EDUCATION_TYPE
Incomplete higher                34.307874
Higher education                 41.467909
Academic degree                  44.276824
Secondary / secondary special    45.110516
Lower secondary                  48.404579
Name: DAYS_BIRTH, dtype: float64

In [214]:
df_idade_ocupacao_escolaridade = df_risco_credito.groupby(['OCCUPATION_TYPE','NAME_EDUCATION_TYPE'])['DAYS_BIRTH']
df_idade_ocupacao_escolaridade.mean().sort_values(ascending=True).head(5)

OCCUPATION_TYPE        NAME_EDUCATION_TYPE
IT staff               Lower secondary        22.542466
High skill tech staff  Academic degree        23.742466
Waiters/barmen staff   Incomplete higher      25.944188
HR staff               Incomplete higher      30.326712
Secretaries            Incomplete higher      30.404990
Name: DAYS_BIRTH, dtype: float64

## 19) Qual a média de valor de anuidade contratada considerando o número de filhos e escolaridade dos requisitantes que solicitaram financiamento em dia útil dentro do horário comercial padrão (8h às 18h)?

## 20) Quais a média de crédito, média de filhos e média de idade (em anos) de quem declarou estado de emergência?

## 21) Quais os tipos de ocupação e tipo de organização dos requisitantes com idade maior que 60 anos?

In [ ]:
idade_maior_60 = df_risco_credito[df_risco_credito['DAYS_BIRTH'] > 60].round()

In [ ]:
idade_maior_60.groupby('OCCUPATION_TYPE')['ORGANIZATION_TYPE'].value_counts()

## 22) Ao analisar correlações, quantidades e agrupamentos entre colunas de marcadores como possuir carro, possuir casa, tipo de moradia, estado civil, escolaridade ou afins, o que chama sua atenção?

## 23) Quais as 10 colunas que você julga serem mais importantes ao avaliar o risco de inadimplência? Por que?

## 24) Considerando a quantidade de campos nulos, quais colunas podem ter seu valor substituído por 0 ou N (Não, No, False) sem prejuízo para a análise feita aqui?

In [ ]:
df_verificar_valores = df[selected_columns]
df_verificar_valores

In [ ]:
analisar_campos_colunas = ['TARGET','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','EMERGENCYSTATE_MODE']

In [ ]:
df_analisar_campos_colunas = df_verificar_valores[analisar_campos_colunas]
df_analisar_campos_colunas

In [ ]:
df_analisar_campos_colunas.isnull().sum()

### <font color='blue'>Colunas que podem ter seu valor substituído por 0 ou N (Não, No, False) sem prejuízo para a análise: </font>

In [ ]:
colunas_elegiveis = ['TARGET','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN']

In [ ]:
df_colunas_elegiveis = df_analisar_campos_colunas[colunas_elegiveis]
df_colunas_elegiveis

In [ ]:
df_colunas_elegiveis.isnull().sum()

#### OBS.:  
A coluna EMERGENCYSTATE_MODE não foi escolhida devido a quantidade de valores ausentes apresentados, ou seja, temos um total de 47.333 campos sem dado, do total de 100.000 observações, o que representa um porcentagem aproximada de 43,33%. Ademais, outro atributo importante o qual analisamos foi o tipo de representatividade dessa coluna, pois, por tratar-se de uma informação normalizada a respeito dos prédios onde os clientes moram, não podemos deixar de notar que a substituição de tais campos ausentes podem acarretar fortemente numa informação bastante enviesada.

# OUTRAS ANÁLISES A SEREM CONSIDERADAS

In [ ]:
df_verificar_valores = df[selected_columns]

In [ ]:
df_verificar_valores.isnull().sum()

In [ ]:
df_verificar_valores.info()

In [ ]:
df_verificar_valores

In [ ]:
analisar_colunas = ['TARGET','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','EMERGENCYSTATE_MODE','NAME_CONTRACT_TYPE']

In [ ]:
df_analisar_colunas = df_verificar_valores[analisar_colunas ]
df_analisar_colunas

In [ ]:
df_analisar_colunas['NAME_CONTRACT_TYPE'].unique()

### <font color='blue'> Podemos concluir pelo levantamento dos dados acima que as seguintes colunas poderão ser substituídos por 0 ou 1, sem afetar a análise dos dados. Sendo elas: </font>

In [ ]:
colunas_selecionadas = ['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','EMERGENCYSTATE_MODE','NAME_CONTRACT_TYPE']

In [ ]:
df_colunas_selecionadas = df_analisar_colunas[colunas_selecionadas]

In [ ]:
df_colunas_selecionadas